# Sistema operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.user

# .NET
bin/
obj/
TestResults/
*.nupkg
*.snupkg

# Logs
*.log

# Variáveis de ambiente
.env
.env.*
!.env.example

# Arquivos sensíveis
appsettings.Production.json
appsettings.Local.json

# YAML local/sensível
*.yml
*.yaml
!*.example.yml
!*.example.yaml

# Banco / Docker local
*.db
*.sqlite
docker-data/

.vs/

/relatorio-*.xlsx
/escala-*.xlsx
~$*.xlsx

/relatorio-*.pdf
/escala-*.pdf
